<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <form th:action="@{product_update}" th:method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}">
        <label>Name</label>
        <input type="text" placeholder="Enter name" th:field="*{name}">
        <label>Description</label>
        <input type="text" placeholder="Enter description" th:field="*{description}">
        <label>Price</label>
        <input type="text" placeholder="Enter price" th:field="*{price}">
        <button type="submit">Save</button>
    </form>
</body>
</html>